<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Андрей Пивоваров</title>
</head>

<body style="background: lightblue">
<p th:text="'Hello, ' + ${login} + '!'" />
<h1 align=center>Пивоваров Андрей</h1>
<h3>Статус:</h3>
<p>online</p>
<div>
    <img align=left border=3 height=222 src="6PKqMRtRQHE.jpg" alt="My photo">
    <h3>День рождения:</h3>
    <h4>	27.03.2005, 14 лет</h4>
    <h3>Город:</h3>
    <h4>	Минск</h4>
    <h3>Образование:</h3>
    <h4>	Гимназия №174, Минск</h4>
</div>
<h2>Увлечения:</h2>
<li>Физика, математика</li>
<li>CS:GO, PUBG немного</li>
<li>Футбол, воркаут, воллейбол, пинг-понг, покатушки на велосипеде</li>
<li>Раньше занимался, но потерял интерес</li>
</body>
</html>